.product__layout {
  margin-top: 1rem;
  display: grid;
  width: 100%;
  grid-template-rows: auto;
  grid-template-columns: 1fr 2fr 2fr 2fr;
  grid-template-areas:
    "menu  prod prod  prod "
    "menu  prod prod  prod"
    "menu  prod prod  prod"
    "menu  prod prod  prod";
}

.filter__box {
  padding: 0px 0px 0px;
  background-color: #ffa5fc;
  width: 100%;
  grid-area: menu;
  border-radius: 10px;
}

.product__card__layout {
  margin: 0rem 2rem 2rem;
}
